---
title: Contact
layout: default
bodyClass: page-contact
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
    <div class="row justify-content-start">
        <div class="col-12 col-md-8">
            <div class="service service-single">
                <h1 class="title">{{page.title}}</h1>
                {% include call.html show_button=false %}
                <div class="content mt-4">{{content}}</div>
                    <form name="contact" method="POST" data-netlify="true">
                        <p><input placeholder="Name" type="text" name="name" /></p>
                        <p><input placeholder="Email" type="email" name="email" /></p>
                        <p><textarea placeholder="Message" name="message"></textarea></p>
                        <p><button type="submit" class="button">Send</button></p>
                    </form>  
      </div>
        </div>
    </div>
</div> 
